@import"https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root {
    --header-height: 3.5rem;

    --secondary-color: #ffd700;
    --text-color: #f1f1f1;
    --body-color: hsl(215, 28%, 8%);
    --bg-color: hsl(215deg 20.6% 20.36% / 75%);
    --white-color: #fff;
    --black-color: #000;
    --yellow-color: #ffff00;

    --ff-poppins: "Poppins", sans-serif;
    --ff-merriweather: "Merriweather", serif;

    --fs-xxl: 2.25rem;

    --fw-bold: 700;
    --fw-semi-bold: 600;
    --fw-medium: 500;
    --fw-regular: 400;

    --space-1: 0.5rem;
    --space-2: 1rem;
    --space-3: 1.5rem;
    --space-4: 2rem;
    --space-5: 2.5rem;

    --zi-soft: 10;
    --zi-hard: 100;
}

@media screen and (max-width: 650px) {
    :root {
        --fs-xxl: 1.5rem;
    }
  }

/* reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--ff-poppins);
    background-color: var(--body-color);
    color: #f1f1f1;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* scrollbar */
::-webkit-scrollbar {
    background-color: hsl(230, 16%, 15%);
}

::-webkit-scrollbar-thumb {
    background-color: hsl(230, 16%, 25%);
}

::-webkit-scrollbar-thumb:hover {
    background-color: hsl(230, 16%, 35%);
}

/* utils */
.main {
    min-height: 85vh;
    overflow-x: hidden;
}
    
.section {
    margin-block: 4rem;
}

.container {
    width: 100%;
    padding-inline: 1.5rem;
}

.grid {
    display: grid;
}

.section__title {
    text-align: left;
    font-size: var(--fs-xxl);
    color: var(--white-color);
    border-left: 3px solid var(--yellow-color);
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.button {
    display: inline-flex;
    background-color: var(--yellow-color);
    color: var(--body-color);
    font-weight: var(--fw-semi-bold);
    padding: 1rem 2rem;
    transition: box-shadow 0.4s;
  }
  
  .button:hover {
    box-shadow: 0 8px 32px hsla(18, 95%, 55%, 0.3);
  }

@media screen and (max-width: 640px) {
    .section {
        margin-block: 2rem;
    }

    .container {
        width: 100%;
        padding-inline: 1.25rem;
    }
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    z-index: var(--zi-soft);
}

.header.bg-header {
    background-color: var(--body-color);
    border-bottom: 3px solid rgba(255, 255, 255, 0.1);
}

.menu__logo {
    font-size: 1.5rem;
    font-family: var(--ff-merriweather);
    font-weight: bold;
    color: var(--white-color);
    cursor: pointer;
}

.menu__logo:hover {
    color: var(--yellow-color);
}

.menu__row--lg {
    position: fixed;
    top: -100%;
    left: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    transition: top 1s;
    z-index: 100;
}

.menu__row--lg.active {
    top: 0;
}

.menu__container {
    height: 100%;
}

.menu__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.5rem;
}

.menu__toggle {
    position: relative;
    z-index: 1000;
    font-size: 2rem;
    cursor: pointer;
}

.menu__toggle i {
  color: var(--white-color);
}

.menu__toggle i:hover {
    color: var(--yellow-color);
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.menu__link {
    color: var(--white-color);
    display: inline-block;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.4s, transform 0.4s;
}

.menu__link:hover {
  color: var(--yellow-color);
  transform: translateX(0.25rem);
}

.menu__col {
    background-size: cover;
    padding-inline: 1rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 100vh;
    color: var(--white-color);
    border-left: 3px solid rgba(0, 0, 0, 0.75);
}

.menu__data h5 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
}

.menu__data h5::after {
    content: "";
    display: block;
    width: 64px;
    height: 3px;
    background-color: var(--white-color);
}

.menu__data {
    height: 360px;
}

.menu__col {
    position: relative;
    top: -100%;
    background-position: center;
    transition: top 0.4s;
    z-index: 10;
}

.menu__col--1 {
    background-image: url(../imgs/menu/menu-1.jpg);
    transition-delay: 0.1s;
}

.menu__col--2 {
    background-image: url(../imgs/menu/menu-2.jpg);
    transition-delay: 0.2s;
}

.menu__col--3 {
    background-image: url(../imgs/menu/menu-3.jpg);
    transition-delay: 0.3s;
}

.menu__col--4 {
    background-image: url(../imgs/menu/menu-4.jpg);
    transition-delay: 0.4s;
}

.menu__col--5 {
    background-image: url(../imgs/menu/menu-5.jpg);
    transition-delay: 0.5s;
}

.menu__row--lg.active .menu__col--1, 
.menu__row--lg.active .menu__col--2,
.menu__row--lg.active .menu__col--3,
.menu__row--lg.active .menu__col--4,
.menu__row--lg.active .menu__col--5 {
    top: 0;
}

.menu__col--1::after, 
.menu__col--2::after, 
.menu__col--3::after, 
.menu__col--4::after, 
.menu__col--5::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.menu__row--sm {
    display: none;
}

@media screen and (max-width: 850px) {
    .header.active {
        background-color: transparent;
        border-bottom: none;
        z-index: 10000;
    }

    .header.active .menu__logo {
      visibility: hidden;
    }

    .menu__content {
        height: 3.5rem;
    }

    .menu__row--lg {
        display: none;
    }

    .menu__row--sm {
        position: fixed;
        top: 0;
        right: -100%;
        bottom: 0;
        overflow-y: auto;
        overflow-x: hidden;
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
        transition: right 0.4s;
        z-index: 100;
    }

    .menu__row--sm.active {
        right: 0;
    }

    .menu__col {
        background-size: cover;
        padding: 2rem 1rem;
        height: auto;
        top: 0;
        left: 0;
    }

    .menu__col--1 {
        background-position-y: 26%;
    }

    .menu__col--2 {
        background-position-y: 40%;
    }

    .menu__col--3 {
        background-position-y: 33%;
    }

    .menu__col--4 {
        background-position-y: 30%;
    }

    .menu__col--5 {
        background-position-y: 25%;
    }

    .menu__data {
        height: 256px;
    }
}

/* home */
.home {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.25rem;
}

.home__vfx, .home__color {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.home__title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.home__link {
    font-size: 2.5rem;
    font-family: var(--ff-merriweather);
    color: var(--white-color);
}

.home__link:hover {
    color: var(--yellow-color);
}

.home__video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* work */
.work__header {
    padding-inline: 1.5rem;
}

.work__item {
    height: 100%;
    max-width: 550px;
}

.work__card {
    position: relative;
    -webkit-mask-image: url(../imgs/service-mask.svg);
    mask-image: url(../imgs/projects/service-mask.png);
    mask-image: url(../imgs/projects/service-mask.png);
    -webkit-mask-image: url(../imgs/projects/service-mask.png);
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    width: 100%;
}

.work__link {
    display: flex !important;
    width: 96% !important;
    margin: 0px 0;
    border-radius: 24px;
    filter: drop-shadow(7.926px 10.303px 6.578px #000);
    overflow: hidden;
    position: relative;
    padding-top: 5px;
}

.work__info {
    background: linear-gradient(180deg, rgba(10, 10, 10, 0) 0%, #232323 100%);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-inline: 0.5rem;
}

.work__more {
    position: absolute;
    z-index: 100;
    right: -27px;
    bottom: -8px;
    width: 60%;
    display: flex;
    align-items: center;
    color: var(--yellow-color);
    justify-content: flex-end;
    padding: 15px 30px 15px 15px;
    gap: 10px;
    transition: all 0.3s;
    font-size: 0.57rem;
}

.work__more i {
    width: 10px;
    height: 1.5rem;
    transition: all 0.3s;
    color: var(--yellow-color);
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    height: 20px;
    margin-bottom: 3px;
}

.work__data {
    display: inline-block;
    width: 200px;
    height: 0;
    padding: 0.5rem 0.6rem;
    display: flex;
    opacity: 0;
    color: var(--white-color);
    flex-direction: column;
    justify-content: center;
    transition: all 0.5s;
}

.work__link:hover .work__data {
    height: 160px;
    opacity: 1;
}

.work__link:hover .work__more i {
    transform: translateX(0.25rem);
}

.work__title {
    font-size: 2rem;
    font-family: var(--ff-merriweather);
    margin-bottom: 1rem;
}

.work__description {
    font-size: 0.75rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.work__img {
    transition: all 0.5s;
    width: 100%;
}

/* swiper class */
.swiper-button-prev::after,
.swiper-button-next::after {
    content: "";
}
  
.swiper-button-prev,
.swiper-button-next {
    width: initial;
    height: initial;
    background-color: var(--white-color);
    border: 2px solid var(--white-color);
    padding: .5rem;
    font-size: 1.5rem;
    color: var(--first-color);
    transition: border .4s, background-color .4s;
}

.swiper-button-prev i,
.swiper-button-next i {
    color: var(--body-color);
}

@media screen and (min-width: 1367px) {
    .work__data {
        width: 300px;
    }

    .work__link:hover .work__data {
        height: 250px;
    }

    .work__more {
        font-size: 1rem;
    }

    .work__title {
        font-size: 2.5rem;
    }

    .work__description {
        font-size: 1.25rem;
        -webkit-line-clamp: 4;
    }
}

@media screen and (max-width: 1100px) {
    .work__item {
        max-width: 256px;
    }

    .work__data {
        width: 160px;
    }

    .work__title {
        font-size: 1.5rem
    }

    .container.work--right {
        max-width: unset;
        padding-left: 1rem;
        margin-inline: unset;
    }

    .work__description {
        font-size: 0.6rem;
    }

    .work__more {
        white-space: nowrap;
        font-size: 0.6rem;
        bottom: -0.4rem;
        right: -1.75rem
    }

    .work__link:hover .work__data {
        height: 160px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        padding: .5rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1367px) {
    .work__more {
        width: 50%;
    }
}

/* cover */
.cover__header {
    padding-inline: 1.5rem;
}

.cover__container {
    height: 100vh;
}

.cover__content {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    overflow-x: hidden;
}

.swiper-bg-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    mask-image: url("../imgs/projects/latest-mask.webp");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: contain;
}

.cover__swiper {
    width: 100%;
    max-width: 1100px;
    margin-inline: auto;
}

.swiper__img {
    display: block;
    max-width: 100%;
}

.cover__slide {
    background-position: center;
    background-size: cover;
    width: 250px;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.cover__slide figcaption {
    text-align: center;
    font-size: 1rem;
    color: #ffd700;
    text-transform: capitalize;
}

.cover__slide:not(.swiper-slide-active) {
    opacity: 0.75;
    filter: blur(5px);
    scale: 0.75;
}

@media screen and (max-width: 768px) {

    .cover__container {
        height: 65vh;
    }

    .swiper-bg-img {
        top: 25%;
        width: 100%;
        height: auto;
        mask-position: top;
    }
    
    .cover__slide {
        width: 190px;
    }
}

/* about */
.about__container {
    row-gap: 8rem;
  }
  
  .about__data {
    text-align: center;
    margin-bottom: 6.5rem;
  }

  .about__subtitle {
    color: var(--yellow-color);
    font-size: 0.75rem;
  }

  .about__title {
    font-size: var(--fs-xxl);
  }
  
  .about__description {
    margin-bottom: 2rem;
  }
  
  .about__list {
    text-align: initial;
    grid-template-columns: repeat(2, 130px);
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 2.5rem;
  }
  
  .about__item {
    display: flex;
    column-gap: 0.5rem;
    color: var(--title-color);
  }
  
  .about__item i {
    font-size: 1rem;
    color: var(--yellow-color);
  }

  .about__item span {
    font-size: 0.75rem;
    color: var(--yellow-color);
  }

  .about__footer .button {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
  }

  .about__footer .button i {
    display: inline-block;
    transition: transform 0.4s;
  }

  .about__footer:hover .button i {
    transform: translateX(0.25rem);
  }
  
  .about__figure {
    position: relative;
    justify-self: center;
  }
  
  .about__img--1 {
    width: 200px;
    border: 5px solid var(--body-color);
    position: absolute;
    top: -5rem;
    left: 6rem;
  }
  
  .about__img--2 {
    width: 250px;
    margin-right: 2.5rem;
  }

/* sm */
@media screen and (max-width: 340px) {
    .about__list {
        grid-template-columns: repeat(1, 200px);
      }
    
      .about__img--1 {
        width: 150px;
        left: 4rem;
      }
    
      .about__img--2 {
        width: 200px;
        margin-right: 0;
      }
}

/* sm */
@media screen and (min-width: 540px) {
    .about__content {
      grid-template-columns: 360px;
      justify-content: center;
    }
}

/* lg */
@media screen and (min-width: 1150px) {
    .about__content {
        grid-template-columns: repeat(2, 400px);
        column-gap: 14rem;
        padding-block: 9rem 2rem;
      }
    
      .about__list {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.5rem;
      }
    
      .about__figure {
        order: -1;
      }
    
      .about__img--1 {
        width: 370px;
        border-width: 10px;
        top: -9rem;
        left: 11rem;
      }
    
      .about__img--2 {
        width: 470px;
      }
    
      .about__data,
      .about__data :is(.section__title, .section__subtitle) {
        text-align: initial;
      }
}

/* news */
.news__item {
    position: relative;
    border-radius: 16px;
    overflow: hidden;
    width: 100%;
    height: 300px;
    padding: 1rem;
    cursor: pointer;
}

.news__item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.news__figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.news__img {
    width: 100%;
    height: 100%;
}

.news__data {
    position: absolute;
    bottom: 0.75rem;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    z-index: 10;
}

.news__item .news__data {
    transition: all 0.6s;
}

.news__item:hover .news__data {
    transform: translateY(-2.5rem);
}

.news__item .news__description {
    opacity: 0;
    transition: all 0.6s;
}

.news__item:hover .news__description {
    opacity: 1;
}

.news__title {
    font-size: 1.5rem;
    white-space: nowrap;
    width: 268px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news__date {
    font-size: 0.85rem;
    color: var(--text-color);
    opacity: 0.75;
}

.news__description {
    white-space: nowrap;
    width: 268px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.news__more {
    position: absolute;
    bottom: 0;
    padding-bottom: 1rem;
    z-index: 10;
}

.news__link {
    color: var(--yellow-color);
}

.news__item .news__link i {
    display: inline-block;
    transition: transform 0.4s;
}

.news__item:hover .news__link i {
    transform: translateX(0.25rem);
}

@media screen and (min-width: 1367px) {
    .news__title {
        width: 350px;
        font-size: 2rem;
    }

    .news__description {
        width: 350px;
        font-size: 1.35rem;
    }

    .news__date {
        font-size: 0.95rem;
    }

    .news__item {
        height: 400px;
    }
}

/* vfx */
.vfx__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--body-color);
    min-height: 100vh;
}

.vfx__list {
    position: absolute;
    inset: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    filter: blur(30px);
}

.vfx__item {
    position: absolute;
    opacity: 0.75;
    border-radius: 40% 50% 30% 40%;
    transform: rotate(-180deg);
}

.vfx__item--1 {
    background: linear-gradient(90deg, #faccff, #5a78a9);
    width: 400px;
    aspect-ratio: 1/1;
    left: 20%;
    top: 20%;
    animation: transform 10s ease-in-out infinite both alternate,
    movement_one 16s ease-in-out infinite both;
}

.vfx__item--2 {
    background: linear-gradient(90deg, #faccff, #5a78a9);
    width: 300px;
    aspect-ratio: 4/3;
    left: 20%;
    top: 25%;
    animation: transform 8s ease-in-out infinite both alternate,
    movement_two 16s ease-in-out infinite both;
}

@keyframes transform {
    0%, 100% {
        border-radius: 33% 67% 70% 30% / 30% 40% 70% 70%;
    }

    20% {
        border-radius: 37% 62% 53% 43% / 37% 25% 35% 63%;
    }

    40% {
        border-radius: 36% 64% 64% 36% / 64% 48% 52% 26%;
    }

    60% {
        border-radius: 37% 63% 51% 49% / 30% 30% 70% 73%;
    }

    80% {
        border-radius: 40% 60% 42% 50% / 51% 51% 70% 73%;
    }
}

@keyframes movement__one {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: translate(50%, 0%) rotateY(10deg) scale(1);
    }
}

@keyframes movement__two {
    0%, 100% {
        transform: none;
    }

    50% {
        transform: translate(-50%, 80%) rotateY(-200deg) scale(1.3);
    }
}

/* swiper */
.vfx, .color {
    margin-top: 2rem;
}

.vfx__swiper, .color__swiper {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .vfx__slide, .color__slide {
       top: 15%;
    }
}

.vfx__wrapper, .color__wrapper {
    width: 100%;
    height: 100vh;
}

.vfx__slide, .color__slide {
    position: relative;
    display: block;
    margin-inline: auto;
    width: 280px;
    aspect-ratio: 4/6;
    text-align: center;
    user-select: none;
}

.vfx__img, .color__img {
    width: 280px;
    height: auto;
    object-fit: cover;
    object-position: center;
    padding: 14px;
    background-color: rgba(250, 204, 255, 0.1);
}

.vfx__title, .color__title {
    font-family: "Dancing Script", serif;
    font-size: 3rem;
    width: max-content; 
    text-align: center;
    color: rgb(212,211, 211);
}

.vfx__data, .color__data {
    position: absolute;
    width: 200px;
    bottom: 27rem;
    right: 1rem;
}

.vfx__description, .color__description {
    transform: translateX(45px);
    color: rgba(0, 6, 6, 0.75);
    font-size: 0.85rem;
    font-weight: 400;
    font-style: italic;
    line-height: 1.3;
    background: rgba(233, 239, 239, 0.75);
    border-radius: 10px;
    border: 1px solid rgba(123, 119, 119, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    transition-delay: 0.4s;
}

.vfx__slide .vfx__title, .vfx__slide .vfx__description,
.color__slide .color__title, .color__slide .color__description {
    opacity: 0;
    transition: all 1s linear;
}

.swiper-slide-active .vfx__title, .swiper-slide-active .vfx__description,
.swiper-slide-active .color__title, .swiper-slide-active .color__description {
    opacity: 1;
}

.vfx__compare, .color__compare {
    position: relative;
    height: 200px; /*should be the same height as the images*/
  }
  
  .vfx__part, .color__part {
    position: absolute;
    width: auto;
    height: auto;
    overflow: hidden;
  }
  
  .vfx__part img {

    vertical-align: middle;
  }
  
  .img-comp-slider {
    position: absolute;
    z-index: 9;
    cursor: ew-resize;
    /*set the appearance of the slider:*/
    width: 40px;
    height: 40px;
    background-color: #ffd700;
    opacity: 0.9;
    border-radius: 50%;
  }

@media screen and (min-width: 767px) {
    .vfx__img, .color__img {
        width: 365px;
    }

    .vfx__data, .color__data {
        width: 256px;
        bottom: 14rem;
        right: -6rem;
    }
}

@media screen and (min-width: 1350px) {
    .vfx__img, .color__img {
        width: 400px;
    }

    .vfx__description, .color__description {
        font-size: 1.25rem;
    }

    .vfx__data, .color__data {
        width: 356px;
        bottom: 2rem;
        right: -13rem;
    }
}

@media screen and (min-width: 1500px) {
    .vfx__img, .color__img {
        width: 512px;
    }

    .vfx__description, .color__description {
        font-size: 1.65rem;
        font-weight: 500;
    }

    .vfx__data, .color__data {
        bottom: 3rem;
        right: -11rem;
    }
}

@media screen and (min-width: 2000px) {
    .vfx__img, .color__img {
        width: 850px;
    }

    .vfx__description, .color__description {
        font-size: 2rem;
        font-weight: 400;
    }

    .vfx__data, .color__data {
        width: 512px;
        bottom: -19rem;
        right: -27rem;
    }
}

@media screen and (min-width: 2500px) {
    .vfx__data, .color__data  {
        width: 512px;
        bottom: 34rem;
        right: -27rem;
    }
}

.swiper-button-prev::after,
.swiper-button-next::after {
  content: "";
}

.swiper-button-prev,
.swiper-button-next {
top: initial;
bottom: 5%;
  width: initial;
  height: initial;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  padding: .5rem;
  font-size: 1.5rem;
  color: #28282a;
  transition: border .4s, background-color .4s;
}

.swiper-button-prev {
    right: initial;
    left: 4rem;
}

.swiper-button-next {
    right: initial;
    left: 8rem;
}

@media screen and (max-width: 768px) {
    .swiper-button-prev, .swiper-button-next {
        right: initial;
        top:initial;
        transform: translateX(-50%);
        bottom: 15%;
    }
    
    .swiper-button-prev {
        left: 45%;
    }
    
    .swiper-button-next {
        left: calc(45% + 4rem);
    }
}

/* footer */
.footer__content {
    text-align: center;
    font-size: 0.75rem;
    margin-block: 4rem 1rem;
    color: var(--text-color);
}

.footer__link {
    color: var(--white-color);
    font-weight: var(--fw-bold);
}

.footer__link:hover {
    color: var(--yellow-color);
}